<html>
<head>

</head>
<body>
<p align="right"><a href="{% url 'comments' %}">Back</a> | <a href="{% url 'logout'%}">Logout</a></p>
<h2>{{ post.title }}</h2>

<div class="content">
    <p>
        {{ post.text }}
   
</div>

{% if post.comments_set.all %}
<h2>Comments</h2>
<div class="comments">
    {% for comment in post.comments_set.all %}
        <span>
           <h3># {{ comment.name }} : </h3>
        </span>
         <span>
         <p>
           
{{ comment.text }}
            
         </p>
         </span>
    {% endfor %}
</div>
{% endif %}

<br />

<h2>Add Comment</h2>

<form action="{% url 'logg' post.id %}" method="post">
    
   
        {{ textform.text }}<br/>
    <input type="submit" value="Submit" />
</form>
</body>
</html>