<p align="right"><a href="{% url 'home' %}">Back</a> | <a href="{% url 'logout'%}">Logout</a></p>
<h2><p align="center">Update Profile</p></h2>
<form action="{% url 'change'%}" method="POST">
<br/>
<br/>
<br/>
<p align="center">
<table>
<tr>
<td>Name:</td>
<td><input type="text" value="{{profile.name}}" name="name"></td>
</tr>
<tr>
<td>Address:</td>
<td><input type="text" value="{{profile.address}}" name="address"></td>
</tr>
<tr>
<td>Phone:</td>
<td><input type="text" value="{{profile.phone}}" name="phone"></td>
</tr>
<tr>
<td>Age:</td>
<td><input type="text" value="{{profile.age}}" name="age"></td>
</tr>
<tr>
</table></p>
<p align="center"><input type="submit" value="Update"></p>
</form>
