{% block content %}

 <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
 <div style="margin-left:0px;margin-top:250px;">
 {% if form.errors %}
   <p class="error">Sorry, this is not a valid username or password</p>
 {% endif %}
 <title>My Profile</title>

 <form action="/mysites/auth" method="post">{% csrf_token %}
 <p align="center">
 <label for="username">User Name</label>
 <input type="text" name="username" value="" id="username"><br/><br/>
 <label for="password">Password</label>&nbsp&nbsp&nbsp
 <input type="password" name="password" value="" id=password><br/><br/>
 &nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp
 <a href="/mysites/registration">New User ?</a>
 <input type="submit" value="Login"/></p>
 </form></div>


 {% endblock %}