
<!DOCTYPE html>
<html>
<head>
</head>
<body>


{% block content %}

 {% if form.errors %}
   <p class="error">Sorry, this is not a valid username or password</p>
 {% endif %}
 <title>My Profile</title>
 <div style="margin-left:0px;margin-top:250px;">
 <form action="{% url 'index' %}" method="post">{% csrf_token %}
 <h2><p align="center">Login</p></h2>
 <p align="center">
 <label for="username">User Name</label>
 <input type="text" name="username" value="" id="username"><br/><br/>
 <label for="password">Password</label>&nbsp&nbsp&nbsp
 <input type="password" name="password" value="" id=password><br/><br/>
 &nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp
 <a href="/mysites/registration">New User ?</a>
 <input type="submit" value="Login"/></p>
 </form></div>


 {% endblock %}
 </body>
</html>