

{% block content%}
<title>My Home</title>
<h3><p align="right">Hi {{full_name.capitalize}}</p></h3>
<p align="right"><font color="Green"><blink>Online</blink></font><br/>
<a href="{% url 'change' %}">Edit Profile</a>| 
<a href="/mysites/">LogOut</a></p>
<br/>
<br/>
<br/>
<p align="center">
<table>
<tr>
<td>Name:</td>
<td>{{full_name.capitalize}}</td>
</tr>
<tr>
<td>Address:</td>
<td>{{address}}</td>
</tr>
<tr>
<td>Phone:</td>
<td>{{phone}}</td>
</tr>
<tr>
<td>Age:</td>
<td>{{age}}</td>
</tr>
</table></p>
<p align="center"><a href="/mysites/view_posts">View Posts</a></p>
{%endblock%}
