{% block content %}
<title>New Account</title>
<h2><p align="center">New User</p></h2>
<form action="/mysites/registration" method="post">
{% csrf_token %}
{% if registered %}
<h3>Thank you for registering</h3>
{% else %}
<p align="center">
<table>
 <tr>
  <td>Name</td>
 </tr>
 <tr>
  <td>{{profile_form.name}}</td>
 </tr>
 <tr>
  <td>Address</td>
 </tr>
 <tr>
  <td>{{profile_form.address}}</td>
 </tr>
 <tr>
  <td>Phone</td>
 </tr>
 <tr>
  <td>{{profile_form.phone}}</td>
 </tr>
 <tr>
  <td>Age</td>
 </tr>
 <tr>
  <td>{{profile_form.age}}</td>
 </tr>
 <tr>
  <td>User Name</td>
 </tr>
 <tr>
  <td>{{user_form.username}}{{user_form.username.errors}}</td>
 </tr>
 <tr>
  <td>Password</td>
 </tr>
 <tr>
  <td>{{user_form.password}}{{user_form.username.errors}}</td>
 </tr>
 <tr><td></td></tr>
 <tr>
  <td>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a href="{% url 'login' %}">SignUp</a>&nbsp<input type="submit" value="Confirm"/></td>
 </tr>
</table></p>
</form>
{%endif%}
{%endblock%}
