<p align="right"><a href="{% url 'home' %}">Back</a> | <a href="{% url 'logout'%}">Logout</a></p>
<ul>
	{% for p in post %}
         <li><a href="{% url 'logg' p.id %}">{{ p.title}}</a></li>
    {% endfor %} 
</ul>