{%block content%}
<title>Registration Successful</title>

<h2><p align="center">You have successfully registered</p></h2>
<p align="center">Click <a href="/mysites/login">here </a>to login again</p>
{%endblock%}